body{
    background-image: url(../images/backgroundred.jpg);
}

.container{
    align-items: center;
    padding-top: 20px;
}

#balls{
    padding-left: 20px;
    padding-right: 10px;
}

#bball{
    padding-top: 20px;
}

#pokesearch{
    width: 500px;
    margin-right: 5px;
}