body{
    background-image: url(../images/backgroundred.jpg);
}

.container{
    margin-left: 15px;
    margin-right: 15px;
    align-items: center;
    width: 100%;
    padding-top: 20px;
}

#balls{
    padding-left: 20px;
    padding-right: 10px;
}

#bball{
    padding-top: 20px;
}