body{
    background-image: url(../images/backgroundred.jpg);
}

.container{
    align-items: center;
    padding-top: 5px;
}

.balls{
    padding-left: 20px;
    padding-right: 10px;
}

#bball{
    padding-top: 20px;
}

#pokesearch{
    margin-right: 5px;
}

@media (min-width: 767.98px){
    #pokesearch{
        width: 500px;
    }
}